@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  overflow: hidden;
}

/* utility class  */
.flex-r {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter-screen {
  width: 100px;
  height: 100px;
  margin: 20px 0px;
  font-size: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.178);
}

.btn {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.178);
}

.btn i {
  font-size: 23px;
  cursor: pointer;
}
